.itemsContainer {
  display: flex;
  margin: 3em;
  gap: 5em 0em;
  flex-wrap: wrap;

  > div {
    width: 20%;
    transition: transform 0.3s;
    padding: 0.2em;

    &:hover {
      transform: scale(1.3);
    }
  }
}

@media (max-width: 1320px) {
  .itemsContainer {
    > div {
      width: 25%;
    }
  }
}

@media (max-width: 1000px) {
  .itemsContainer {
    > div {
      width: 33.3%;
    }
  }
}

@media (max-width: 750px) {
  .itemsContainer {
    > div {
      width: 50%;
    }
  }
}

@media (max-width: 500px) {
  .itemsContainer {
    > div {
      width: 100%;
    }
  }
}
