@import "normalize.css";
@import "sanitize.css";
@import "fontface";

body {
  color: $basicWhiteColor;
  background-color: $backgroundBlackColor;
  font-family: "Hind", sans-serif;
}

h2 {
  font-size: 50px;
  display: block;
  background-color: white;
}

::placeholder {
  /*test for autoprefixer in postcss*/
  color: antiquewhite;
}

.test-block {
  border: 4px dotted black;
  /* stylelint-disable-next-line plugin/no-unsupported-browser-features*/
  display: flex;
  flex-direction: column;
  align-items: center;
}

.test-block + .test-block {
  margin-top: 20px;
}

/* starting ENTER animation */
.messageout-enter {
  position: absolute;
  top: 0;
  left: calc(13% + 5px);
  right: calc(13% + 5px);
  opacity: 0.01;
  transform: translateY(0%) scale(0.01);
}

/* ending ENTER animation */
.messageout-enter-active {
  opacity: 1;
  transform: translateY(0%) scale(1);
  transition: all 1000ms ease-in-out;
}

/* starting EXIT animation */
.messageout-exit {
  opacity: 1;
  transform: scale(1.01);
}

/* ending EXIT animation */
.messageout-exit-active {
  opacity: 0;
  transform: scale(4);
  transition: all 1000ms ease-in-out;
}

.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(17, 17, 17, 0.045);
  transition: all 0.3s ease-out;
}

.modal-content {
  background-color: #000000;
  margin: 15% auto;
  padding: 20px;
}
