.movieInfoContainer {
  display: flex;
  flex-direction: column;
  padding: 30px 0 0 50px;
  height: 100%;
  width: 70%;
  background-image: linear-gradient(90deg, #000 50%, transparent);

  span {
      font-size: 20px;
  }

  .movie-info {
    font-size: 0.3em;
    margin: 1em 0 3em;
    display: flex;
    gap: 4px;
    flex-wrap: wrap;

    span {
      display: flex;
    }
  }

  .movie-overview {
    width: 65%;
    font-size: 18px;
    color: #7a7a7a;
    padding: 20px 0 0;
    margin: 18px 0;
    line-height: 1.2;
  }

  h1 {
    font-size: 4em;
  }

  img {
    margin: 0 5px;
  }
}

.series {
  font-size: 1.3em;
}

.controlButton {
  border: none;
  background-color: $lightTextColor;
  font-size: 1.1em;
  width: 7em;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  padding: 0.5em 1em;

  &:last-of-type {
    background-color: rgba(112, 111, 111, 0.5);
    color: $basicWhiteColor;
  }

  &:last-of-type:hover {
    background-color: #252525;
  }
}

.mute-button {
  border: 1px solid $basicWhiteColor;
  border-radius: 100%;
  width: 50px;
  height: 50px;
  background-color: transparent;
  padding: 10px;

  &:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }

  img {
    width: 90%;
    margin: 0;
  }
}

.invertedImage {
  filter: invert(100%);
}

.overview {
  color: #7a7a7a;
}

.title {
  font-size: 3.5em;
  font-weight: bold;
  margin: 0;
}

.rating {
  color: #5cdf5c;
}

.buttons {
  margin-top: 20px;
  display: flex;
  gap: 8px;

  button {
    display: flex;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 500;
    border: none;
    border-radius: 2px;
    transition: all 0.2s;
    color: white;
    align-items: center;

    padding: 0.5em 1em;

    &:hover {
      transform: scale(1.09);
    }
  }

  button:first-child {
    background-color: rgba(248, 6, 22, 0.870588);
    font-weight: 500;

    img {
      filter: invert(100%);
    }
  }

  button:last-child {
    border: 0.5px solid #7a7a7a;
    background-color: transparent;
  }
}

@media (max-width: 600px) {
  .movieInfoContainer {
    padding: 1em;
  }
}

@media (max-width: 980px) {
  .movieInfoContainer {
    width: 100%;

    .movie-overview {
      width: 100%;
    }
  }
}
